/** @format */

{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  // 解析器类型
  // espima(默认), babel-eslint, @typescript-eslint/parser
  "parser": "babel-eslint",
  // "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/all"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    // 自动发现React的版本，从而进行规范react代码
    "react": {
      "version": "detect"
    }
  },
  // "overrides": [
  //   {
  //     "files": ["*.stubs.ts", "*.test.ts"],
  //     "rules": {
  //       "@typescript-eslint/promise-function-async": "off"
  //     }
  //   }
  // ],
  // 解析器配置参数
  "parserOptions": {
    // "project": "tsconfig.json"
    "project": "babel.react.json"
  },
  "rules": {
    /**
     * "off" 或 0：关闭规则
     * "warn" 或 1：开启规则，warn 级别的错误 (不会导致程序退出)
     * "error" 或 2：开启规则，error级别的错误(当被触发的时候，程序会退出)
     */
    "semi": ["error", "never", { "beforeStatementContinuationChars": "always" }],
    "quotes": ["error", "single"],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "jsx-quotes": ["warn", "prefer-double"],
    "no-console": "off",
    "camelcase": "error",
    // "@typescript-eslint/require-array-sort-compare": "off",
    // "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    // "@typescript-eslint/explicit-function-return-type": "off",
    // "@typescript-eslint/explicit-module-boundary-types": "off",
    // "@typescript-eslint/generic-type-naming": "off",
    // "@typescript-eslint/init-declarations": "off",
    // "@typescript-eslint/method-signature-style": "off",
    // "@typescript-eslint/no-explicit-any": "off",
    // "@typescript-eslint/no-magic-numbers": "off",
    // "@typescript-eslint/no-parameter-properties": "off",
    // "@typescript-eslint/no-type-alias": "off",
    // "@typescript-eslint/no-unnecessary-boolean-literal-compare": "off",
    // "@typescript-eslint/no-unnecessary-condition": "off",
    // "@typescript-eslint/no-unsafe-assignment": "off",
    // "@typescript-eslint/no-unsafe-call": "off",
    // "@typescript-eslint/no-unsafe-member-acces": "off",
    // "@typescript-eslint/no-unsafe-member-access": "off",
    // "@typescript-eslint/no-unsafe-return": "off",
    // "@typescript-eslint/no-untyped-public-signature": "off",
    // "@typescript-eslint/no-unused-vars": "off",
    // "@typescript-eslint/no-unused-vars-experimental": "off",
    // "@typescript-eslint/no-use-before-define": "off",
    // "@typescript-eslint/prefer-readonly-parameter-types": "off",
    // "@typescript-eslint/prefer-reduce-type-parameter": "off",
    // "@typescript-eslint/require-await": "off",
    // "@typescript-eslint/restrict-template-expressions": "off",
    // "@typescript-eslint/return-await": "off",
    // "@typescript-eslint/strict-boolean-expressions": "off",
    // "@typescript-eslint/switch-exhaustiveness-check": "off",
    // "@typescript-eslint/typedef": "off",
    "no-else-return": "error"
  },
  "globals": {
    // 例如：声明 jQuery 对象为全局变量
    // true 表示该变量为 writeable，而 false 表示 readonly
    // "$": false
  },
  "plugins": [
    // eslint-plugin-react
    "react"
    // "@typescript-eslint"
  ]
}
